// ==========================================================================
// # Modal
// ==========================================================================

.modal {

    &__inner {
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}